body{
	background: #303030;
	padding: 0;
	margin: 0;
}

.stage {
	width: 720px;
	height: 450px;
	margin: 25px auto;
}

#canvasBg, #canvasClouds, #canvasJet, #canvasEnemy, #canvasHud {
	position: absolute;
}

#pausedOverlay {
	width: 720px;
	height: 450px;
	position: absolute;
	display: none;
	font-size: 48px;
	color: #fff;
	background: #000;
	opacity:0.4;
}

#pausedWin {
	width: 720px;
	height: 450px;
	position: absolute;
	display: none;
	font-size: 48px;
	color: #fff;
	background: #000;
	opacity:0.75;
}